@import '../scss/global/_theme_colors';


.app-color-primary{
    color: var(--primary-);
}
.app-color-secondary{
    color: var(--secondary-);
}
.app-color-gray{
    color: var(--gray-);
}
.app-color-light{
    color: var(--light-);
}
.app-color-white{
    color: var(--white-);
}
.app-color-dark{
    color: var(--dark-);
}
