@import '../scss/global/_font_weights';

.app-font-weight-100{font-weight: $--f-w-100;}
.app-font-weight-200{font-weight: $--f-w-200;}
.app-font-weight-300{font-weight: $--f-w-300;}
.app-font-weight-400{font-weight: $--f-w-400;}
.app-font-weight-500{font-weight: $--f-w-500;}
.app-font-weight-600{font-weight: $--f-w-600;}
.app-font-weight-600{font-weight: $--f-w-600;}
.app-font-weight-700{font-weight: $--f-w-700;}
.app-font-weight-800{font-weight: $--f-w-800;}
.app-font-weight-900{font-weight: $--f-w-900;}
.app-font-weight-1000{font-weight: $--f-w-1000;}