@import '../scss/global/_font_sizes';

.app-font-size-10{font-size: $--f-s-10;}
.app-font-size-12{font-size: $--f-s-12;}
.app-font-size-14{font-size: $--f-s-14;}
.app-font-size-16{font-size: $--f-s-16;}
.app-font-size-18{font-size: $--f-s-18;}
.app-font-size-20{font-size: $--f-s-20;}
.app-font-size-22{font-size: $--f-s-22;}
.app-font-size-24{font-size: $--f-s-24;}
.app-font-size-26{font-size: $--f-s-26;}
.app-font-size-28{font-size: $--f-s-28;}
.app-font-size-30{font-size: $--f-s-30;}
.app-font-size-32{font-size: $--f-s-32;}
.app-font-size-34{font-size: $--f-s-34;}
.app-font-size-36{font-size: $--f-s-36;}
.app-font-size-38{font-size: $--f-s-38;}
.app-font-size-40{font-size: $--f-s-40;}
.app-font-size-42{font-size: $--f-s-42;}
.app-font-size-44{font-size: $--f-s-44;}
