@import '../scss/global/_shabnam_font';

.font-shabnam-thin {
  font-family: "shabnam-thin";
}

.font-shabnam-light {
  font-family: "shabnam-light";
}

.font-shabnam {
  font-family: "shabnam";
}

.font-shabnam-medium {
  font-family: "shabnam-medium";
}

.font-shabnam-bold {
  font-family: "shabnam-bold";
}