$--f-s-10: 10px;
$--f-s-12: 12px;
$--f-s-14: 14px;
$--f-s-16: 16px;
$--f-s-18: 18px;
$--f-s-20: 20px;
$--f-s-22: 22px;
$--f-s-24: 24px;
$--f-s-26: 26px;
$--f-s-28: 28px;
$--f-s-30: 30px;
$--f-s-32: 32px;
$--f-s-34: 34px;
$--f-s-36: 36px;
$--f-s-38: 38px;
$--f-s-40: 40px;
$--f-s-42: 42px;
$--f-s-44: 44px;