@font-face {
    font-family: "shabnam";
    src: url("shabnam-font/dist/Shabnam.eot");
    src: url("shabnam-font/dist/Shabnam.eot?#iefix") format("embedded-opentype"),
      url("shabnam-font/dist/Shabnam.woff2") format("woff2"),
      url("shabnam-font/dist/Shabnam.woff") format("woff"),
      url("shabnam-font/dist/Shabnam.ttf") format("truetype");
    font-weight: normal;
  }
  
  @font-face {
    font-family: "shabnam-bold";
    src: url("shabnam-font/dist/Shabnam-Bold.eot");
    src: url("shabnam-font/dist/Shabnam-Bold.eot?#iefix")
        format("embedded-opentype"),
      url("shabnam-font/dist/Shabnam-Bold.woff2") format("woff2"),
      url("shabnam-font/dist/Shabnam-Bold.woff") format("woff"),
      url("shabnam-font/dist/Shabnam-Bold.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "shabnam-thin";
    src: url("shabnam-font/dist/Shabnam-Thin.eot");
    src: url("shabnam-font/dist/Shabnam-Thin.eot?#iefix")
        format("embedded-opentype"),
      url("shabnam-font/dist/Shabnam-Thin.woff2") format("woff2"),
      url("shabnam-font/dist/Shabnam-Thin.woff") format("woff"),
      url("shabnam-font/dist/Shabnam-Thin.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "shabnam-light";
    src: url("shabnam-font/dist/Shabnam-Light.eot");
    src: url("shabnam-font/dist/Shabnam-Light.eot?#iefix")
        format("embedded-opentype"),
      url("shabnam-font/dist/Shabnam-Light.woff2") format("woff2"),
      url("shabnam-font/dist/Shabnam-Light.woff") format("woff"),
      url("shabnam-font/dist/Shabnam-Light.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "shabnam-medium";
    src: url("shabnam-font/dist/Shabnam-Medium.eot");
    src: url("shabnam-font/dist/Shabnam-Medium.eot?#iefix")
        format("embedded-opentype"),
      url("shabnam-font/dist/Shabnam-Medium.woff2") format("woff2"),
      url("shabnam-font/dist/Shabnam-Medium.woff") format("woff"),
      url("shabnam-font/dist/Shabnam-Medium.ttf") format("truetype");
  }