*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "shabnam";
}

.app-container{
    padding: 20px 60px;
}

@media (max-width: 600px) {
    .app-container{
        padding: 20px 20px;
    }
}

.fa_rtl_design{
    direction: rtl;
}

.app_pointer{
    cursor: pointer;
}

.app_overflow_hidden{
    overflow: hidden;
}

.app_link{
    text-decoration: none;
    list-style: none;
    font-size: 12px;
    font-weight: 600;
    padding: 0 5px;
    color: #816fe9;
}

.app_shadow{
    box-shadow: 0 1px 2px 0 rgba(121, 136, 151, 0.37);
}

.__application_animation{
    animation: 1.5s application_animation;
}

::-webkit-scrollbar {
    width: 0px;
    border: 0px solid #2c2c2c;
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-track {
    border-radius: 5px;
    background: #eeeeee;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #cac8c8;
  }

@keyframes application_animation {
    0%{opacity: 0;}
    100%{opacity: 1;}
}

@keyframes __application_animation_transform {
    0%{transform: rotate(0deg);}
    50%{transform: rotate(5deg);}
    100%{transform: rotate(0deg);}
}